<div class="link-bar hidden-phone">
  <div class="container">
    <div class="link-bar__wrapper">
      <ul class="link-bar__linklist list--unstyled" role="list">
        <li class="link-bar__link-item">
          <a href="{{ routes.account_url }}" class="link-bar__link link--animated{% if tab == 'orders' %} text--underlined{% endif %}">{{ 'customer.orders.title' | t }}</a>
        </li>

        <li class="link-bar__link-item">
          <a href="{{ routes.account_addresses_url }}" class="link-bar__link link--animated{% if tab == 'addresses' %} text--underlined{% endif %}">{{ 'customer.addresses.title' | t }}</a>
        </li>

        <li class="link-bar__link-item">
          <a href="https://fairment.myshopify.com/tools/recurring/login" class="link-bar__link link--animated">{{ 'customer.subscriptions.title' | t }}</a>
        </li>

        <li class="link-bar__link-item">
          <a href="{{ routes.account_logout_url }}" class="link-bar__link link--animated text--subdued" data-no-instant>{{ 'customer.logout.title' | t }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="mobile-toolbar hidden-tablet-and-up">
  <button class="mobile-toolbar__item" is="toggle-button" aria-expanded="false" aria-controls="account-links-popover">{{- tab_title -}} {%- render 'icon' with 'chevron' -%}</button>
</div>

<popover-content id="account-links-popover" class="popover">
  <span class="popover__overlay"></span>

  <header class="popover__header">
    <span class="popover__title heading h6">{{- 'customer.general.title' | t -}}</span>

    <button type="button" class="popover__close-button tap-area tap-area--large" data-action="close" title="{{ 'general.accessibility.close' | t | escape }}">
      {%- render 'icon' with 'close' -%}
    </button>
  </header>

  <div class="popover__content">
    <div class="popover__choice-list">
      <a href="{{ routes.account_url }}" class="popover__choice-item">
        <span class="popover__choice-label"{% if tab == 'orders' %} aria-current="true"{% endif %}>{{ 'customer.orders.title' | t }}</span>
      </a>

      <a href="{{ routes.account_addresses_url }}" class="popover__choice-item">
        <span class="popover__choice-label"{% if tab == 'addresses' %} aria-current="true"{% endif %}>{{ 'customer.addresses.title' | t }}</span>
      </a>

      <a href="https://fairment.myshopify.com/tools/recurring/login" class="popover__choice-item">
        <span class="popover__choice-label">{{ 'customer.subscriptions.title' | t }}</span>
      </a>

      <a href="{{ routes.account_logout_url }}" class="popover__choice-item text--subdued" data-no-instant>
        <span class="popover__choice-label">{{ 'customer.logout.title' | t }}</span>
      </a>
    </div>
  </div>
</popover-content>