{% style %}
  .custom_section_title{
   text-align: center;
    font-size: 29px;
    font-weight: 700;
    color: #010065;
    margin-bottom:2rem;
  }
  .article-container {
    display: flex;
    gap: 4rem;
}
  .article_rec a {
    text-align: center;
}
  .article_rec a h3{
    color: #010065;
    margin-top: 10px;
    font-weight:bold;
    font-size:20px;
  }
  .article_rec a img{
    height: 80%;
    max-width: 100%;
    object-fit: cover;
  }
  @media screen and (max-width:768px){
    .article-container {
      flex-direction:column;
      gap: 1rem;
          align-items: center;
    }
    .article_rec {
    max-width: 70%;
}
  }
  {% endstyle %}
<div class="container vertical-breather">
  <h2 class="custom_section_title">PASSENDE ARTIKEL</h2>
  <div class="article-container">
  <div class="article_rec">
    {% if article.metafields.custom.rec_link_one %}
      <a href="{{ article.metafields.custom.rec_link_one }}">
       <img src="{{article.metafields.custom.rec_image_one | img_url :'500x' }}" alt="Article">
      <h3>{{ article.metafields.custom.rec_title_one }}</h3>
      </a>
      {% endif %}
  </div>
  <div class="article_rec">
    {% if article.metafields.custom.rec_link_two %}
      <a href="{{ article.metafields.custom.rec_link_two }}">
       <img src="{{article.metafields.custom.rec_image_two | img_url :'500x' }}" alt="Article">
      <h3>{{ article.metafields.custom.rec_title_two }}</h3>
      </a>
      {% endif %}
  </div>
  <div class="article_rec">
    {% if article.metafields.custom.rec_link_three %}
      <a href="{{ article.metafields.custom.rec_link_three }}">
       <img src="{{article.metafields.custom.rec_image_three | img_url :'500x' }}" alt="Article">
      <h3>{{ article.metafields.custom.rec_title_three }}</h3>
      </a>
      {% endif %}
  </div>
  <div class="article_rec">
    {% if article.metafields.custom.rec_link_four %}
      <a href="{{ article.metafields.custom.rec_link_four }}">
       <img src="{{article.metafields.custom.rec_image_four | img_url :'500x' }}" alt="Article">
      <h3>{{ article.metafields.custom.rec_title_four }}</h3>
      </a>
      {% endif %}
  </div>
 </div>
</div>