{%- if section.settings.layout_type == 'boxed' -%}
  {%- assign is_boxed = true -%}
{%- else -%}
  {%- assign is_boxed = false -%}
{%- endif -%}

{%- if section.settings.background_color != settings.background and section.settings.background_color != 'rgba(0,0,0,0)' -%}
  {%- assign blends_with_background = false -%}
{%- else -%}
  {%- assign blends_with_background = true -%}
{%- endif -%}

<style>
  #shopify-section-{{ section.id }} {
    {%- if section.settings.background_color == 'rgba(0,0,0,0)' -%}
      {%- assign section_block_background = settings.background -%}
    {%- else -%}
      {%- assign section_block_background = section.settings.background_color -%}
    {%- endif -%}

    {%- if section.settings.text_color == 'rgba(0,0,0,0)' -%}
      {%- assign heading_color = settings.heading_color -%}
      {%- assign text_color = settings.text_color -%}
    {%- else -%}
      {%- assign heading_color = section.settings.text_color -%}
      {%- assign text_color = section.settings.text_color -%}
    {%- endif -%}

    {%- if section.settings.button_background == 'rgba(0,0,0,0)' -%}
      {%- assign button_background = settings.primary_button_background -%}
    {%- else -%}
      {%- assign button_background = section.settings.button_background -%}
    {%- endif -%}

    {%- if section.settings.button_text_color == 'rgba(0,0,0,0)' -%}
      {%- assign button_text_color = settings.primary_button_text_color -%}
    {%- else -%}
      {%- assign button_text_color = section.settings.button_text_color -%}
    {%- endif -%}

    --heading-color: {{ heading_color.red }}, {{ heading_color.green }}, {{ heading_color.blue }};
    --text-color: {{ text_color.red }}, {{ text_color.green }}, {{ text_color.blue }};
    --primary-button-background: {{ button_background.red }}, {{ button_background.green }}, {{ button_background.blue }};
    --primary-button-text-color: {{ button_text_color.red }}, {{ button_text_color.green }}, {{ button_text_color.blue }};

    --prev-next-button-background: {{ settings.background.red }}, {{ settings.background.green }}, {{ settings.background.blue }};
    --prev-next-button-color: {{ settings.text_color.red }}, {{ settings.text_color.green }}, {{ settings.text_color.blue }};

    --section-block-background: {{ section_block_background.red }}, {{ section_block_background.green }}, {{ section_block_background.blue }};
  }

  @media screen and (max-width: 999px) {
    {%- if blends_with_background -%}
      #shopify-section-{{ section.id }} .section {
        margin-bottom: 0 !important;
      }
    {%- endif -%}
  }
</style>

<section 
  style="--bg-color: {{ section.settings.background_color_section | default: 'transparent' }}"
  class="sec--sale-promo-banner-2 section {% unless is_boxed %}section--flush{% endunless %}{% if section.settings.background_color_section != blank %} section--inverse{% endif %} {{ section.settings.css_class }}{% if section.settings.is_inactive != blank %} is-inactive{% endif %}">
  <div {% if is_boxed %}class="container"{% endif %}>
    <div class="sale-promo-banner-2" style="--bg-color: {{ section.settings.image_bg_color | default: 'transparent' }}">
      <div class="sale-promo-banner-2--row">
        <div class="sale-promo-banner-2--image">
          {%- if section.settings.image != blank -%}
            <img class="{% if section.settings.mobile_image != blank %}hidden-pocket{% endif %}" loading="lazy" sizes="(max-width: 999px) 100vw, {% if section.settings.layout_type == 'boxed' %}min(1520px, 100vw){% else %}100vw{% endif %}" {% render 'image-attributes', image: section.settings.image, sizes: '600,700,800,1000,1200' %}>
      
            {%- if section.settings.mobile_image != blank -%}
              <img class="hidden-lap-and-up" loading="lazy" sizes="100vw" {% render 'image-attributes', image: section.settings.mobile_image, sizes: '600' %}>
            {%- endif -%}
          {%- else -%}
            {%- capture image_classes -%}placeholder-background{%- endcapture -%}
      
            {%- if section.settings.reveal_on_scroll -%}
              {{- 'lifestyle-1' | placeholder_svg_tag: image_classes | replace: '<svg', '<svg reveal' -}}
            {%- else -%}
              {{- 'lifestyle-1' | placeholder_svg_tag: image_classes -}}
            {%- endif -%}
          {%- endif -%}
        </div>

        <div class="sale-promo-banner-2--main">
          <div class="sale-promo-banner-2--content content-box--text-{{ section.settings.text_alignment}} text-container">
            {%- if section.settings.subheading != blank -%}
              <h2 class="sale-promo-banner-2--subheading heading text--small">
                {{ section.settings.subheading }}
                {%- if section.settings.subheading_stars != blank -%}
                  <img class="sale-promo-banner-2--subheading-stars" src="{{ section.settings.subheading_stars | img_url: 'master' }}" alt="Rating stars">
                {%- endif -%}
              </h2>
            {%- endif -%}

            {%- if section.settings.title != blank -%}
              <h3 class="sale-promo-banner-2--heading heading h3">
                {{ section.settings.title }}
              </h3>
            {%- endif -%}

            {%- if section.settings.content != blank -%}
              <div class="sale-promo-banner-2--text">
                {{- section.settings.content -}}
              </div>
            {%- endif -%}

            {%- if section.blocks.size > 0 -%}
              <div class="sale-promo-banner-2--columns">
                {%- for block in section.blocks -%}
                  {%- if block.type == 'column' -%}
                    {%- assign button_background = block.settings.button_background -%}
                    {%- assign button_text_color = block.settings.button_text_color -%}
                    <div
                      class="sale-promo-banner-2--column" id="block-id--{{ block.id }}"
                      style="--primary-button-background: {{ button_background.red }}, {{ button_background.green }}, {{ button_background.blue }};
                      --primary-button-text-color: {{ button_text_color.red }}, {{ button_text_color.green }}, {{ button_text_color.blue }};">
                      {%- if block.settings.text_line_1 != blank -%}
                        <div class="sale-promo-banner-2--line1">
                          {{- block.settings.text_line_1 -}}
                        </div>
                      {%- endif -%}
                      {%- if block.settings.text_line_2 != blank -%}
                        <div class="sale-promo-banner-2--line2">
                          {{- block.settings.text_line_2 -}}
                        </div>
                      {%- endif -%}
                      {%- if block.settings.text_line_3 != blank -%}
                        <div class="sale-promo-banner-2--line3">
                          {{- block.settings.text_line_3 -}}
                        </div>
                      {%- endif -%}

                      {%- if block.settings.button_text != blank -%}
                        <div class="sale-promo-banner-2--cta">
                          <a href="{{ block.settings.button_link }}"
                            class="button button--primary sale-promo-banner-2--btn">
                            {{ block.settings.button_text }}
                          </a>
                        </div>
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                {%- endfor -%}
              </div>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Promo offers",
  "class": "shopify-section--promo-offers",
  "settings": [
    {
      "type": "checkbox",
      "id": "is_inactive",
      "label": "Is inactive?"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS class"
    },
    {
      "type": "color",
      "id": "background_color_section",
      "label": "Background color (section)",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "color",
      "id": "image_bg_color",
      "label": "Image background color"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile image",
      "info": "If none is set, desktop image will be used."
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Subheading"
    },
    {
      "type": "image_picker",
      "id": "subheading_stars",
      "label": "Subheading stars"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Image with text block"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "select",
      "id": "layout_type",
      "label": "Layout type",
      "options": [
        {
          "value": "full_width",
          "label": "Full width"
        },
        {
          "value": "boxed",
          "label": "Boxed"
        }
      ],
      "default": "full_width"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "settings": [
        {
          "type": "text",
          "id": "text_line_1",
          "label": "Text line 1"
        },
        {
          "type": "text",
          "id": "text_line_2",
          "label": "Text line 2"
        },
        {
          "type": "text",
          "id": "text_line_3",
          "label": "Text line 3"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "color",
          "id": "button_background",
          "label": "Button background",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "Button text",
          "default": "rgba(0,0,0,0)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Promo offers",
      "settings": {}
    }
  ]
}
{% endschema %}