{% style %}
  .main-video-container {
    padding: 0 5rem;
    display: flex;
    gap: 6rem;
}
  .tv-section-title{
    text-align: center;
    font-size: 29px;
    font-weight: 700;
    color: #010065;
  }
  .btn{
    position: relative;
  }
 .btn svg.icon.icon--play {
    position: absolute;
    right: 14px;
    top: 0;
    width: 70px;
}
  .video-container {
              background-color: rgba(255,255,255,0.7);
              position: fixed;
              top: 50%;
              left: 50%;
              width: 100%;
              height: 100%;
              z-index: 9999;
              display: flex;
              justify-content: center;
              align-items: center;
              opacity: 0;
            transform:translate(-50%, -50%);
              pointer-events: none;
              transition: all 0.3s;
          }

          .video-container .close {
              position: absolute;
              top: 20%;
              right: 25%;
              font-size: 20px;
              cursor: pointer;
              z-index: 900;
              background: #fff;
              width: 25px;
              height: 25px;
              display: flex;
              justify-content: center;
              align-items: center;
          }

            .video-container iframe {
                width: 50vw;
                height: 28.125vw;
                transform: scale(0);
                outline: none;
                border: none;
                outline: 0;
                box-shadow: 0 0 0 0;
            }

          .video-container.show {
              pointer-events: all;
              opacity: 1;
          }

          .video-container.show iframe {
              transform: scale(1);
          }
    img.video_thumbnail {
      width: 100%;
      height: 100%;
  }
    @media only screen and (max-width:768px){
      .main-video-container{
        flex-direction:column;
        padding : 0;
      }
      .btn{
        width :100%;
      }
      .video-container iframe {
      width: 100vw;
      height: 56.25vw;
      transform: scale(0);
      outline: none;
      border: none;
      outline: 0;
      box-shadow: 0 0 0 0;
  }
      .video-container {
      position: fixed;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      z-index: 9999;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transform: translate(-50%, -50%);
      pointer-events: none;
      transition: all 0.3s;
  }
      .video-container .close{
        top: 34%;
      right: 0;
      }
    }
  {% endstyle %}
  {% for block in section.blocks %}
    <div class="video-container video-container{{ forloop.index }}">
  <span class="close{{ forloop.index }}">&#10006;</span>
  <iframe id="video_player" class="video_player{{ forloop.index }}" src="{{ block.settings.link }}"> </iframe>
</div>
{% endfor %}
<div class="container vertical-breather">
   <h3 class="tv-section-title"> {{ section.settings.title }} </h3>
  <div class="main-video-container">
  {% for block in section.blocks %}
    <div class="video-card">
      <button class="btn{{ forloop.index }}" id="play-video" data-src="{{ block.settings.link }}">
        {% render 'icon' with 'play' %}
        {{
          block.settings.image
          | image_url: width: 750
          | image_tag:
            class: 'video_thumbnail'
        }}
        
      </button>
    </div>
  {% endfor %}
  </div>
</div>
<script>
  const btn1 = document.querySelector('.btn1');
  const btn2 = document.querySelector('.btn2');
  const videoContainer1 = document.querySelector('.video-container1');
  const videoContainer2 = document.querySelector('.video-container2');
  const close1 = document.querySelector('.close1');
  const close2 = document.querySelector('.close2');

      btn1.addEventListener('click', (e) => {
      document.querySelector('body').style.overflow = 'hidden';
      videoContainer1.classList.add('show');
    });

  close1.addEventListener('click', () => {
    document.querySelector('body').style.overflow = 'auto';
    videoContainer1.classList.remove('show');
document.querySelectorAll(".video-stream.html5-main-video").forEach(item => {item.pause()})
  });

        btn2.addEventListener('click', (e) => {
      document.querySelector('body').style.overflow = 'hidden';
      videoContainer2.classList.add('show');
    });

  close2.addEventListener('click', () => {
    document.querySelector('body').style.overflow = 'auto';
    videoContainer2.classList.remove('show');
document.querySelectorAll(".video-stream.html5-main-video").forEach(item => {item.pause()})
  });
  
</script>
{% schema %}
  {
  "name" : "TV section",
  "settings" : [
     {
      "type": "text",
      "id": "title",
      "default": "Fairment TV",
      "label": "Section Title"
    }
  ],
     "blocks": [
    {
      "type": "video",
      "name": "video",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "video thumbnail"
        },
        {
          "type": "url",
          "id": "link",
          "label": "youtube embed link"
        }
      ]
    }
  ],
  "presets": [
    {  "name": "Tv Section"}
  ]
  }
{% endschema %}